<div class="homepage-container">
    <div class="hero-section">
      <div class="text-content">
        <h1>Guardians of the Digital World: AI-Powered Cybersecurity Chatbots</h1>
        <p>AI-powered cybersecurity chatbots detect and neutralize threats in real time, automate incident handling, and boost team awareness. This is why Parenthesis is here – to deliver smarter, more efficient security solutions for the digital age.</p>

        <button class="btn-main" routerLink="/what-are-we">What are we?</button>
        <router-outlet></router-outlet>

      </div>
      <div class="image-content">
        <img src="/assets/logo/Image3.png">
    </div>
    </div>
  </div>
  <router-outlet></router-outlet>

  