<div class="forgot-password-container">
    <div class="forgot-password-card">
        <h3 class="forgot-title">Forgot Password</h3>
        <p class="forgot-subtitle">Enter your email, and we'll send you a reset link.</p>

        <div class="error">{{ errorMessage }}</div>

        <form (ngSubmit)="onSubmit()" class="forgot-form">
            <div class="input-group">
                <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Your Email">
            </div>

            <button type="submit" class="forgot-btn">Request Password</button>
        </form>

        <div class="forgot-footer">
            <a routerLink="/login">Back to Log In</a>
            <span>|</span>
            <a routerLink="/signup">Register</a>
        </div>
    </div>
</div>
