<div class="user-insights-container">
    <div class="insights-sidebar">
        <h3>User Insights</h3>
        <small>Here you can see user behavior, trends and chat insights.</small>
        <hr />
    </div>
    <div class="charts-container">

        <!-- Line Chart: User Engagement -->
        <div class="chart-box">
            <h4>User Engagement Over Time</h4>
            <canvas id="lineChart"></canvas>
        </div>
            
        <!-- Pie Chart -->
        <div class="chart-box">
            <h4>User Sentiment Analysis</h4>
            <canvas id="pie"></canvas>
        </div>  
    </div>
    
    
</div>