<div class="profile-container">
    <h2>My Profile</h2>
    <div class="profile-info">
      <div class="profile-item">
        <label for="first-name">First Name:</label>
        <span id="first-name">{{ userProfile?.first_name }}</span>
      </div>
      <div class="profile-item">
        <label for="last-name">Last Name:</label>
        <span id="last-name">{{ userProfile?.last_name }}</span>
      </div>
      <div class="profile-item">
        <label for="email">Email:</label>
        <span id="email">{{ userProfile?.email }}</span>
      </div>
    </div>
  </div>
  