
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
//@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat.core();

// Define the theme object.
/*
$chatbot-interface-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));
*/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
/*
:root {
  @include mat.all-component-themes($chatbot-interface-theme);
}
*/
// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($chatbot-interface-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($chatbot-interface-theme);
/* You can add global styles to this file, and also import other style files */
// Font Awesome
@import '@fortawesome/fontawesome-free/css/all.css';

// MDB SCSS
//@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

@import "mdb-angular-ui-kit/assets/scss/mdb.scss";
body 
{ 
  margin: 0; 
  font-family: "Raleway", "Helvetica Neue", sans-serif; 
  scrollbar-width: thin;
  scrollbar-color: #555 #2b2b2b;
}

h3{
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: 600;
}

h4{
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

.btn{  
  padding: 10px 15px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
  font-size: 0.8rem;
}

.btn:hover {
  background: #388E3C;
}

p{
  font-size: 0.9rem;
}

.error{
  font-size: small;
  color: #C41E3A;

}

.success{
  font-size: small;
  color: #388E3C;
}

// .alert-success {
//   background-color: #228B22;
//   border-left: 2px solid #4f9760;
//   border-radius: 5px;
//   padding: 5px;
// }

// .alert-error {
//     background-color: #C41E3A;
//     border-left: 2px solid #C41E3A;
//     border-radius: 5px;
//     padding: 5px;
// }